##############################################
##  !/bin/bash
## __     __   __     ______   ______    
##/\ \   /\ "-.\ \   /\  ___\ /\  __ \   
##\ \ \  \ \ \-.  \  \ \  __\ \ \ \/\ \  
## \ \_\  \ \_\\"\_\  \ \_\    \ \_____\ 
##  \/_/   \/_/ \/_/   \/_/     \/_____/ 
##
##  - Checks fileage
##  - if a file exceeds the max age, 
##    the content will be overwritten
##  - creates logs what it does
##
##  Script author:
##  https://github.com/Deadalus3010
##
##  comparedate() from ashrithr:
##  https://gist.github.com/ashrithr/5614283
##
##  displaytime() from Stéphane Gimenez:
##  https://unix.stackexchange.com/users/9426/st%c3%a9phane-gimenez
##  https://unix.stackexchange.com/questions/27013/displaying-seconds-as-days-hours-mins-seconds
##
##############################################
#
#   _____ _                 _                 
#  / ____| |               | |                
# | |    | | ___  __ _ _ __| |     ___   __ _ 
# | |    | |/ _ \/ _' | '__| |    / _ \ / _' |
# | |____| |  __/ (_| | |  | |___| (_) | (_| |
#  \_____|_|\___|\__,_|_|  |______\___/ \__, |
#                                        __/ |
#                                       |___/
#
##############################################
##   _____      __  __  _                 
##  / ___/___  / /_/ /_(_)___  ____  ______
##  \__ \/ _ \/ __/ __/ / __ \/ __ '/ ___/
## ___/ /  __/ /_/ /_/ / / / / /_/ (__  ) 
##/____/\___/\__/\__/_/_/ /_/\__, /____/  
##                          /____/
##
##  ClearLog
##  Clears the content of the .log files.
##
##
##  Here you set the path where you have your logs to clear.
##  CLEARPATH="/home/user/path/to/logs/" 
##  For example:
CLEARPATH="/home/tsserver/serverfiles/logs/"
##
##
##  Here do you set the files that will be searched.
##  All files, that start with ts3client_ are getting searched by the script, the asterisk is important at the end!
##  The asterisk defines, that the "ts3client_" is the prefix, so every file that begins with ts3client_ gets found. 
##  For example, there are these files in the folder: ts3client_something; ts3client_anotherfilename; ts3client_anything
##  Because of the '*', the system just checks the first few characters and automatically searches for all the files.
CLEARNAME=$"ts3client_*"
##
##
##  Maximum file age in seconds
MAXAGE=$(bc <<< '60')
##  Example for 60 hours
#MAXAGE=$(bc <<< '60*60*60') # 60 * 60 * 60 = 216000 (21600 / 3600 = 60 Hours)
##
##
##  Date, which is used in the Console, in the Script log and in the edited log
#FILEDATE=`date +%F`                    #<-- For YYYY-MM-DD
FILEDATE=`date '+%d-%m-%Y | %H:%M:%S'`  #<-- For DD-MM-YYYY | HH:MM:SS
##
##
###############################################################################################################
##
##  ClearLog LOG.
##  Logs every activity from the Script.
## 
##
##  Do we allow Script logs?
##  0 = No; 1 = Yes
LOGALLOW=1
##
##  Here you set your Script log Path
##  LOGPATH="/home/user/path/till/clearlog/" 
LOGPATH="/home/tsserver/serverfiles/logs/clearlog/"
##
##
##  Here you name your Script log file, it doenst needs to end with .log, you can also uses any other file extension.
##  LOGFILE=$"nameofthelog.log" 
LOGFILE=$"ts3clearlog.log"
##
##
###############################################################################################################
##
##  ClearLog MOVE.
##  MOVE moves all old, already overwritten and unusable log files into another directory
##
##  Some programms may still needs the old .log files, because of that I dont fully recommend to use this feature.
##
## 
##  USE AT YOUR OWN RISK!
##
##
##  Do we allow that 'CLEARNAME' files should be moved into another directory? 
##  0 = No; 1 = Yes
CLEARMOVEFILEALLOW=0
##
##  Here you set the folder path where you want to move your finished edited logs.
##  Script creates automatically an directory, if it doesnt find it.
CLEARMOVEPATH="/home/tsserver/serverfiles/logs/" 
##
##
##  How do you want to name your directory?
CLEARMOVEDIRECTORY="oldlogs"
##
##
###############################################################################################################
##
##  ClearLog DELETE.
##  DELETE deletes all logs that are in the MOVE directory.
##
##  USE AT YOUR OWN RISK!
##  TO USE DELETE, YOU NEED TO ALLOW AND SET UP MOVE.
##
##
##  Now you have your old, edited logs in another folder, do you want to delete them automatically?
##  0 = No; 1 = Yes
CLEARLOGDELETEALLOW=0
##
##  Path of the logs to be deleted
##  The Backslash at the end is important, dont remove it.
CLEARLOGDELETEPATH=""$CLEARMOVEPATH""$CLEARMOVEDIRECTORY"/"
##
##  What is the name of the files, that you want to delete?
##  I simply took the name you already defined in CLEARNAME.
CLEARLOGDELETENAME="$CLEARNAME"
##
##  When would you like to have the old logs deleted? If 1 file is in the folder? 10? 20?
##  If you write 0, they will be deleted instantly.
CLEARLOGDELETEFILECOUNT=10
##
##
###############################################################################################################
##
##
##  MySQL integration?
##  
##  Will NOT be made. Because it would be a to high security risk.
##
##
##
##############################################
