##############################################
##  !/bin/bash
## __     __   __     ______   ______    
##/\ \   /\ "-.\ \   /\  ___\ /\  __ \   
##\ \ \  \ \ \-.  \  \ \  __\ \ \ \/\ \  
## \ \_\  \ \_\\"\_\  \ \_\    \ \_____\ 
##  \/_/   \/_/ \/_/   \/_/     \/_____/ 
##
##  - Prüft Dateialter
##  - Wenn Maxalter überschritten, 
##    Löschung des Dateiinhaltes
##  - Erstellt logs was er tut
##
##  Script von:
##  https://github.com/Deadalus3010
##
##  comparedate() von ashrithr:
##  https://gist.github.com/ashrithr/5614283
##
##  displaytime() von Stéphane Gimenez:
##  https://unix.stackexchange.com/users/9426/st%c3%a9phane-gimenez
##  https://unix.stackexchange.com/questions/27013/displaying-seconds-as-days-hours-mins-seconds
##
##############################################
#
#   _____ _                 _                 
#  / ____| |               | |                
# | |    | | ___  __ _ _ __| |     ___   __ _ 
# | |    | |/ _ \/ _' | '__| |    / _ \ / _' |
# | |____| |  __/ (_| | |  | |___| (_) | (_| |
#  \_____|_|\___|\__,_|_|  |______\___/ \__, |
#                                        __/ |
#                                       |___/
#
##############################################
##   _____      __  __  _                 
##  / ___/___  / /_/ /_(_)___  ____  ______
##  \__ \/ _ \/ __/ __/ / __ \/ __ '/ ___/
## ___/ /  __/ /_/ /_/ / / / / /_/ (__  ) 
##/____/\___/\__/\__/_/_/ /_/\__, /____/  
##                          /____/
##
##  ClearLog
##  Löscht den Inhalt der angegebenen .log Dateien, aber nicht die Datei selber.
##
##
##Hier legts du den Ordnerpfad fest, wo du deine zu bearbeitenden Logs hast.
## CLEARPATH="/home/user/pfad/bis/zu/logs/" 
CLEARPATH="/home/tssever/serverfiles/logs/"
##
##
## Hier werden alle Dateien gesucht, die mit ts3client_ anfangen. Das Sternchen ist hierbei sehr wichtig.
## Diese Dateien werden später bearbeitet, bewegt, gelöscht. Je nachdem was du willst.
CLEARNAME=$"ts3client_*"
##
##
## Maximales Dateialter in Sekunden
MAXAGE=$(bc <<< '60')
## oder in Stunden
#MAXAGE=$(bc <<< '60*60*60') #Beispiel für 60 Stunden. Sprich 60 * 60 * 60 = 216000 (Das durch 3600 = 60)
##
##
## Datum, was in der Console, im Script Log und in der zu bearbeitenden Log Datei verwendet wird
#FILEDATE=`date +%F`                    #<-- Für YYYY-MM-DD
FILEDATE=`date '+%d-%m-%Y | %H:%M:%S'`  #<-- Für DD-MM-YYYY | HH:MM:SS
##
##
###############################################################################################################
##
##  ClearLog LOG.
##  LOG loggt alle Aktivitäten des Scriptes.
## 
##
##  Wollen wir denn überhaupt Logs von LogClear haben? 
##  0 = Nein; 1 = Ja
LOGALLOW=1
##
##  Pfad der Script Log Datei
##  Hier legts du den Ordnerpfad fest, wo die Datei den Log des LogClear logs speichert.
## LOGPATH="/home/user/pfad/bis/zu/clearlog/" 
LOGPATH="/home/tsserver/serverfiles/logs/clearlog/"
##
##
## LOGFILE=$"namedeslogs.log" Hier benennst du deine LogClearLog Datei. Du kannst jede Dateiendung benutzen. .log ist kein muss.
LOGFILE=$"ts3clearlog.log"
##
##
###############################################################################################################
##
##  ClearLog MOVE.
##  MOVE bewegt alte, fertige Logs in ein anderes Verzeichnis.
##
##  Manche Programme benötigen vielleicht trotzdem die .log Datei, deswegen empfehle ich nicht die Log Datei 
##  zu verschieben.
##
## 
##  BENUTZEN AUF EIGENE GEFAHR!
##
##
##  CLEARNAME Datei in ein anderes Verzeichnis bewegen, damit Sie nicht immer wieder bearbeitet wird?
##  0 = Nein; 1 = Ja
CLEARMOVEFILEALLOW=0
##
##  Hier legts du den Ordnerpfad fest, wo du deine fertigen bearbeiteten Logs hinbewegen möchtest.
##  Nur den Pfad angeben!
##  Script erstellt automatisch ein Verzeichnis, wenn das nicht gefunden werden kann.
CLEARMOVEPATH="/home/tsserver/serverfiles/logs/" 
##
##
##  Wie soll dein Verzeichnis heißen?
CLEARMOVEDIRECTORY="altelogs"
##
##
###############################################################################################################
##
##  ClearLog DELETE.
##  DELETE löscht alle Logs, die im MOVE Verzeichnis liegen.
##
##  Das Löschen der alten .log Dateien ist mit Vorsicht zu genießen, da dies nicht der beste Weg ist,
##  mit .log Daten umzugehen. ICH EMPFEHLE ES DAHER NICHT.
## 
##
##  BENUTZEN AUF EIGENE GEFAHR!
##  UM DATEIEN LÖSCHEN ZU KÖNNEN, MUSST DU MOVE ERLAUBEN UND RICHTIG KONFIGURIEREN.
##
##
##  Nun hast du deine alten, bearbeiteten Logs in einem anderen Ordner, möchtest du diese automatisch löschen lassen?
##  0 = Nein; 1 = Ja
CLEARLOGDELETEALLOW=0
##
##  Pfad von den Logs die gelöscht werden sollen
##  Das Backslash am Ende ist wichtig, entferne es nicht
CLEARLOGDELETEPATH=""$CLEARMOVEPATH""$CLEARMOVEDIRECTORY"/"
##
##  Welchen Namen haben die Dateien, die gelöscht werden sollen?
##  Ich habe hier einfach den Namen genommen, den du bereits in CLEARNAME definiert hast.
CLEARLOGDELETENAME="$CLEARNAME"
##
##  Wann möchtest du die alten Logs löschen lassen? Wenn eine Datei im Ordner ist? 10? 20?
##  Wenn du 0 schreibst, werden Sie direkt gelöscht.
CLEARLOGDELETEFILECOUNT=10
##
##
###############################################################################################################
##
##
##  MySQL Integration?
##  
##  Wird es NICHT geben. Da es ein zu hohes Sicherheitsrisiko sein würde.
##
##
##############################################
